# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraformrc
terraform.rc

# Working directories
/agent/work/

# Logs
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
